*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/OpenCV
/openCVLibrary2411
/openCVLibrary400pre
/app/src/main/jniLibs